/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18BAE9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18BAE9;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    background: #eee;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
    
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18BAE9;
}

@media(max-width:767px) {
    section {
        padding: 100px 0;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18BAE9;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18BAE9;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}









/*!
 * Configurações específicas para este site
 * @author: Mick Hill
 * 
 * 
 */


/*===============================
      Configuraçãoe globais
===============================*/



/*===============================
  Configuração da Barra do topo
===============================*/

.navbar-inverse,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #0076D7;
    border-color: #FFF;
}
.navbar-inverse .navbar-toggle{
    border-radius: 0; 
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: rgba(0,0,0, 0.2);
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    -webkit-transition: .25s;
       -moz-transition: .25s;
            transition: .25s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #18BAE9;
}
.button-toggle-navigation {
    background-color: transparent;
    border: 0;
    font-size: 17px;
    cursor: pointer;
    height: 1.5em;
    margin: .75em 15px;
    position: relative;
    width: 2.25em;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
            transition: all .3s ease-out;
}
.button-toggle-navigation::after,
.button-toggle-navigation::before {
  border-bottom: 0.25em solid #fafafa;
  bottom: 40%;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform 200ms ease-out;
          transition: transform 200ms ease-out;
}
.button-toggle-navigation span {
  color: transparent;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}
.collapsed {
    border-bottom: 0.25em solid #fafafa;
    border-top: 0.25em solid #fafafa;
}

.isActive {
  border-color: transparent;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.isActive::after, .isActive::before {
  -webkit-transition: -webkit-transform 200ms ease-out;
          transition: transform 200ms ease-out;
}
.isActive::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.isActive::before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
@media(min-width:768px) {
    .navbar-fixed-top .logo-topo{
        position: absolute;
        margin-top: -25px;
        width: 250px;
        -webkit-transition: all .3s;
           -moz-transition: all .3s;
                transition: all .3s;
    }
    .navbar-fixed-top.navbar-shrink .logo-topo{
        position: absolute;
        margin-top: -5px;
        width: 150px
    }
}
@media(max-width:767px) {
    .navbar-header{
        margin: 10px 0;
    }
    .navbar-fixed-top .logo-topo{
        margin-left: 15px;
        margin-top: -6px;
        position: absolute;
        width: 170px
    }
    .navbar-fixed-top.navbar-shrink .logo-topo{
        margin-left: 15px;
        margin-top: -6px;
        position: absolute;
        width: 170px
    }
}



/*===============================
    Configuração do banner.
===============================*/

html, body {height: 100%;}

.carousel, .item, .active {height: 100%;}
.carousel-inner {height: 100%;}

@media(min-width:768px) {
    .banner{
        width: 100%;
        height: 100%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
}
@media(max-width:767px) {
    .banner{
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}



/*===============================
    Configuração do Presidencia.
===============================*/

#presidencia {
    background: #eee;
    height: 100%;
    overflow-y: auto;
}

#presidencia  .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#presidencia  .card {
    border: none;
    background: #ffffff;
}

#presidencia .card-body  {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

#presidencia .image-flip:hover .backside,
#presidencia .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
    border-radius: .25rem;
}

#presidencia .image-flip:hover .frontside,
#presidencia .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

#presidencia .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

#presidencia .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

#presidencia .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#presidencia .frontside,
#presidencia .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    width: 100%;
}

#presidencia .frontside .card,
#presidencia .backside .card {
    min-height: 312px;
}

#presidencia .backside .card a {
    font-size: 25px;
    color: #18BAE9 !important;
}

#presidencia .frontside .card .card-title,
#presidencia .backside .card .card-title {
    color: #18BAE9 !important;
}

#presidencia .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 15px;
}



/*===============================
    Configuração do Mapa.
===============================*/

#mapa{
    padding: 70px 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#mapa iframe{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    border:0;
}



/*==============================================
   Configuração do botão que volta para o topo.
==============================================*/

#btn-to-top{
    position: fixed;
    bottom: 15px;
    right: 16px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    background-color: #0076D7;
    border-color: transparent !important;
    border-radius: 0;
    padding: 15px 17px;
    border-radius: 25px;
        -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}

#btn-to-top:hover{
    color: #18BAE9;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}